# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
test_cmake/.gitignore
test_cmake/CMakeLists.txt
test_cmake/tutorial.cpp
test_cmake/TutorialConfig.h
test_cmake/TutorialConfig.h.in

# Cmake
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile

# imgui
!libimgui.a
imgui.ini
